<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="oldPassword">Current Password</label>
        <input 
            id="oldPassword" 
            type="password" 
            class="form-control"
            ngControl="oldPassword"
            #oldPassword="ngForm">
        <div *ngIf="oldPassword.touched && oldPassword.errors">
            <div *ngIf="oldPassword.errors.required" class="alert alert-danger">
                Old password is required.
            </div>
            <div *ngIf="oldPassword.errors.validOldPassword" class="alert alert-danger">
                Old password is incorrect.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
            id="newPassword" 
            type="password" 
            class="form-control"
            ngControl="newPassword"
            #newPassword="ngForm">
        <div *ngIf="newPassword.touched && newPassword.errors">
            <div *ngIf="newPassword.errors.required" class="alert alert-danger">
                New password is required.
            </div>
            <div *ngIf="newPassword.errors.complexPassword" class="alert alert-danger">
                New password should be minimum {{ newPassword.errors.complexPassword.minLength }} characters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
            id="confirmPassword" 
            type="password" 
            class="form-control"
            ngControl="confirmPassword"
            #confirmPassword="ngForm">
        <div *ngIf="confirmPassword.touched && !confirmPassword.valid" class="alert alert-danger">
            Confirm the password.
        </div>
        <!-- 
            Note that here I'm checking for form.errors.passwordShouldMatch
            because this validation is applied at the form itself. 
         -->
        <div *ngIf="confirmPassword.touched && form.errors && form.errors.passwordsShouldMatch" class="alert alert-danger">
            Passwords don't match.
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>